.card-list {
  display: flex;
  gap: 32px 24px;
  justify-content: center;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    gap: 32px 0;
  }
  &__item {
    width: 360px;
    @media screen and (max-width: 768px) {
      width: 100%;
      padding: 0 24px;
    }
  }
}
