.company {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  &__table {
    width: 640px;
    @media screen and (max-width: 768px) {
      width: auto;
      padding: 0 24px;
    }
  }
}
