.credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  &__lead {
    font-size: 1.1rem;
    text-align: center;
  }
  &__list {
    width: 800px;
    @media screen and (max-width: 768px) {
      width: auto;
      padding: 0 24px;
    }
  }
}
