*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.08em;
}

ul,
ol {
  li {
    list-style: none;
  }
}

:root {
  --text-color: #333;
  --border-color: #f3f3f3;
  --border-dark-color: #999;
  --key-color: #d7e2df;
}

html {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
