.missions {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
  &__text {
    display: grid;
    place-items: center;
  }
  &__text-inner {
    width: 600px;
    font-size: 1.2rem;
    line-height: 1.8;
    @media screen and (max-width: 768px) {
      width: auto;
      padding: 0 24px;
    }
  }
}
