.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
  justify-content: center;
  &__item {
    display: block;
    flex-shrink: 0;
    padding: 8px 16px;
    font-size: 0.85rem;
    border: 1px solid var(--border-dark-color);
    border-radius: 4px;
  }
}
